<h1>Artist Detail</h1>

<h2>Artist Name: <%= @artist.name %></h2>
<h2>Artist Songs:</h2><br><br>
<% @artist.songs.each do |song| %>
    
    <p>Song Name: <a href="/songs/<%= song.slug %>"><%= song.name %></a></p>

<% end %>
<br><br>
<% @artist.genres.each do |genre| %>
    
    <p>Genre: <a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>

<% end %>