<h1>Song Detail</h1>

<p><% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
</p>


<h2>Song Name: <%= @song.name %></h2>
<p>Song Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>

<% @song.genres.each do |genre| %>
    
    <p>Song Genre: <a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>

<% end %>